.recipeCard {
  border: 2px solid #ff6a00;
  border-radius: 10px;
  text-align: center;
  margin: 20px;
  padding: 10px;
  width: 220px;
}
.cc>img {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.recipeCard>img {
  height: 200px;
  width: 200px;
}

.recipeCard>p {
  width: 90%;
  margin: 0.5em;
}

.btnFH {
  height: 31px;
  font-weight: 500;
  background-color: #ff6a00;
  color: #000 !important;
  border-radius: 10px;
  padding: 0 1em;
  font-size: 17px;
}

.modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(189, 189, 189, 0.9);
  z-index: 2;
}

.modal-container {
  padding: 2em;
  max-height: 76%;
  width: 800px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: white;
  border-radius: 10px;
  cursor: default;
}

.modal-container {
  @media (max-width: 999px) { 
    max-width: calc(100vw - 100px);
  }
}

.modal-container {
  @media (max-width: 768px) { 
    max-width: 90vw;
  }
}

.modal-content1 {
  height: 95%;
  overflow-y: scroll;
}

.clostBtn {
  padding: 0px 6px 3px;
  border: 1px solid #ff6a00;
  border-radius: 7px;
  float: right;
  margin-right: 5px;
  color: #000 !important;
}

.info {
  gap: 2em;
}

.modal-footer {
  position: absolute;
  left: 40%;
}

.modal-container>p {
  margin: 0 8px;
}

.section1 {
  gap: 10px;
}

.section1>img {
  height: 285px;
  width: 285px;
  border-radius: 20px;
  padding: 10px;
}

.modal-container>h1 {
  color: #000 !important;
}

.modal-container>p {
  margin-bottom: 5px !important;
  font-weight: 500;
} 

.cuisineCarousel {
  margin: 1em 4em;
}

.cuisine {
  cursor: pointer;
}

.cuisine {
  @media (max-width: 768px) { 
    font-size: small;
  }
}